.card {
  width: 400px;
  padding: 24px;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
  margin: 24px auto;
}

.card img {
  width: 100%;
}

.card h2 {
  font-family: "Roboto", sans-serif;
  color: #222;
  text-transform: uppercase;
  font-weight: 900;
}
